/*  HTML5 ✰ Boilerplate  */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, 
menu, nav, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
  *zoom:1.0; /* Fixes IE shifting text bug */
}                  
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display:block;
}
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }


body { font:13px/1.231 Helvetica, Arial, sans-serif; *font-size:small; text-align:center;} 
select, input, textarea, button { font:99% Helvetica, Arial, sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

body, select, input, textarea {   color: #444; }
h1,h2,h3,h4,h5,h6 { font-weight: bold; }
html { overflow-y: scroll; height:100%;}

a:hover, a:active { outline: none; }
a, a:active, a:visited { color: #607890; outline:none;}
a:hover { color: #036; text-shadow:0 1px 0 #fff; }

ul, ol { margin-left: 1.8em; }
ol { list-style-type: decimal; }

nav ul, nav li { margin: 0; } 
small { font-size: 85%; }
strong, th { font-weight: bold; }
td, td img { vertical-align: top; } 
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
pre {  padding: 15px;  white-space: pre;  white-space: pre-wrap;  white-space: pre-line;  word-wrap: break-word; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px;  -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red;  box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #72B5CC; color:#fff; text-shadow: none; }
::selection { background:#72B5CC; color:#fff; text-shadow: none; } 
a:link { -webkit-tap-highlight-color: #72B5CC; } 

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none !important; visibility: hidden !important; } 
.visuallyhidden { position: absolute !important; clip: rect(1px 1px 1px 1px);  clip: rect(1px, 1px, 1px, 1px); }
.invisible { visibility: hidden; }
.section:before, .section:after, .clearfix:before, .clearfix:after {  content: "\0020"; display: block; height: 0; visibility: hidden;	 } 
.section:after, .clearfix:after { clear: both; }
.section, .clearfix { zoom: 1; }


/* Primary Styles
   Author: Collin Reisdorf
   
   colors:
     #72B5CC standard light blue
     #4896b0 rollover colors
*/

/*
 * Web Fonts from fontspring.com
 *
 * All OpenType features and all extended glyphs have been removed.
 * Fully installable fonts can be purchased at http://www.fontspring.com
 *
 * The fonts included in this stylesheet are subject to the End User License you purchased
 * from Fontspring. The fonts are protected under domestic and international trademark and 
 * copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
 * distributing this font software.
 *
 * (c) 2010-2011 Fontspring
 *
 *
 *
 *
 * The fonts included are copyrighted by the vendor listed below.
 *
 * Vendor:      FontSite Inc.
 * License URL: http://www.fontspring.com/fflicense/fontsite
 *
 *
 */

@font-face {
  font-family: 'FunctionProMedium';
  src: url('/fonts/functionpro-medium-webfont.eot');
  src: url('/fonts/functionpro-medium-webfont.eot?iefix') format('eot'),
       url('/fonts/functionpro-medium-webfont.woff') format('woff'),
       url('/fonts/functionpro-medium-webfont.ttf') format('truetype'),
       url('/fonts/functionpro-medium-webfont.svgz#webfontkjVIvap4') format('svg'),
       url('/fonts/functionpro-medium-webfont.svg#webfontkjVIvap4') format('svg');
  font-weight: normal;
  font-style: normal;
}

body{background:#eef7fb; color:#8a8a8a; font-family:Georgia, Times, 'Times New Roman', serif; font-size:0.8em;}
h1{font-size:3em;}
h2{font-size:1.3em; text-transform:uppercase; margin-bottom:30px;margin-left:25px; letter-spacing:1px}
h3{font-size:1.3em; font-family:'FunctionProMedium', 'Futura', 'Lucida Sans', Trebuchet, sans-serif; font-style:normal; font-weight:normal;}
h4{font-size:1.2em;}
h5{font-size:1em;}
h6{font-size:0.7em;}

a, a:visited, h2, h3{color:#72B5CC;}
a:hover, a:active{color:#4896b0;}
p{color:#8a8a8a;}
sub, sup{font-size:0.7em;}

.kern_in{letter-spacing:1px;}

/* header which is actually the menu */
#header{ display:block; position:fixed; text-align:center; width:240px; z-index:10000; height:100%;}
#nav, #bottom_nav{line-height:24px; padding:0 18px 10px; text-align:left;}
#nav a, #nav a:visited{color:#72b5cc; display:block; clear:both; letter-spacing:2px; font-style:normal; padding-left:10px; text-decoration:none; text-transform:uppercase;}
#nav a, h2{font-family:'FunctionProMedium', 'Futura', 'Lucida Sans', Trebuchet, sans-serif; font-weight:normal;}
#nav a:hover, #nav a:active{color:#4896b0;}
#nav a.selected{color:#72B5CC; background-color:#dcedf3;}
#nav .nav_divider{display:none;}
#nav .small_nav{display:none;}
/*#nav .divider{display:none;}*/
#nav #nav_follow{display:none;}
#toth_logo{background:transparent url(/images/logotype_sprite.png) no-repeat 0 0; display:block; margin:30px 14px; text-indent:-9999px; height:34px; width:205px;}
#toth_logo:hover{background-position:0 -34px;}

#bottom_nav{position:absolute; bottom:0; width:196px; padding:28px 18px 30px 28px; /*text-align:center;*/}

#facebook, #twitter, #linkedin, #pinterest, #tumblr{background:#72B5CC url(/images/social_icons.png) no-repeat; clear:none !important; float:left; overflow:hidden; padding:0 !important; margin:14px 4px 0 0; text-indent:-9999px; height:22px; width:22px; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}
#facebook{background-position: -10px -4px;}
#twitter{background-position: -38px -4px;}
#linkedin{background-position: -64px -4px;}
#pinterest{background-position: -92px -4px;} 
#tumblr{background-position: -119px -4px;} 

#facebook:hover{background-position: -10px -34px;}
#twitter:hover{background-position: -38px -34px;}
#linkedin:hover{background-position: -64px -34px;}
#pinterest:hover{background-position: -92px -34px;} 
#tumblr:hover{background-position: -119px -34px;}

/* footer and bottom of the page */
#footer{padding-top:1em; border-bottom:none; padding-bottom:2.5em; margin:0 1em 1px 250px; text-align:right;}
#footer #copyright{ float:left; 
  /*font-family:'FunctionProMedium', 'Futura', 'Lucida Sans', Trebuchet, sans-serif; font-weight:bold;*/
}
/*#footer #copyright:first-letter {font-style:normal;}
#footer #contact_info a{color:#72B5CC;}
#footer #contact_info .slashes{letter-spacing:-2px;}*/

/*#footer #contact_info{text-align:right; float:right; font-size:0.9em; }*/

.floatleft{float:left;}

#container{margin:0 auto; max-width:1450px; min-height:100%; min-width:550px; position:relative; text-align:left; width:100%;}
#content{min-height:360px; position:relative;}
#main{position:relative;}

/* for sections of the homepage (and maybe site too, this all might move...)*/
.section{margin-left:250px; clear:both; border-top:1px solid #eee; border-bottom:1px solid #ccc; padding:45px 0 70px; margin-bottom:1px;}
.section.top{border-top: none;}

.subnav{margin:0 25px 0;padding-top: 20px;}
.subnav_divider{margin:0 5px; letter-spacing:-1px;}
#bottom_nav a, .subnav a, .subnav_divider, .project a.all{color:#8A8A8A; display:inline; font-style:italic;}
#bottom_nav a:hover, #bottom_nav a:active, .subnav a:hover, .subnav a:active, .subnav a.active, .project a.all:hover, .project a.all:active{color:#4896B0;}

#project_list{padding:10px 0 70px; }

/* blocks that hold redefined groups of images currently a-e*/
.homepage_landscape, .random_block{display:block; position:relative; width:300px; height:300px; float:left;}
.homepage_landscape{height:200px;}
/* images */
.img{background:#fff url(/images/fpo.png) 50% 50%; border:12px solid #fff; display:block; float:left; margin:0; overflow:hidden; position:absolute; text-decoration:none;}

/* for vertically centering the rollovers */
/*.img{display:table;}*/


.img_rollover{background-color:#e5f2f5; background-position:50% 50%; position:absolute; top:0; left:0; width:100%; height:100%; text-align:left; text-shadow:0 -1px 0 #295563; vertical-align:bottom; }
.img_rollover .rollover_txt{display:table-cell; vertical-align:middle; position:relative; top:0%;text-shadow:none;}
.ie7 .img_rollover .rollover_txt, .ie8 .img_rollover .rollover_txt{position:relative; top:0; }
.img_rollover .rollover_txt div{position:relative; top:-50%; overflow:hidden; text-indent:-9999px;}
/*.img_rollover *{color:#fff; font-family:'FunctionProMedium', 'Futura', 'Lucida Sans', Trebuchet, sans-serif; font-style:normal; font-weight:normal;}*/
/*.img_rollover h3{font-size:1.5em; margin-left:10px; line-height:1em;}*/
/*.img_rollover h4{font-size:1em; margin-left:10px;}*/
/*.img:hover .img_rollover{display:table; }*/

/* img sizes */
.one{width:32px;}
.byone{height:32px;}

.two{width:82px;}
.bytwo{height:82px;}

.three{width:132px;}
.bythree{height:132px;}

.four{width:182px;}
.byfour{height:166px;}

.five{width:232px;}
.byfive{height:232px;}

.six{width:266px;} 
.bysix{height:282px;}

/* img locations */
.x1{left:0;}
.x3{left:100px;}
.x4{left:150px;}
.x5{left:200px;}

.y1{top:0;}
.y3{top:100px;}
.y4{top:150px;}
.y5{top:200px;}

.homepage_landscape .six{width:262px;}
.homepage_landscape .byfour{height:164px;}

/* Special cases for image rollovers on homepage */
.two .rollover_txt h4, .bytwo .rollover_txt h4{display:none;}
.two .rollover_txt h3 {margin:0; width: 115px; position:relative; left:-15px;}
.two .rollover_txt{max-width:80px;
/*  overflow:hidden;*/
  left:20px; top:-100%;
  -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg);
  -o-transform:rotate(90deg);
  -ms-transformation:rotate(90deg);
  transform: rotate(90deg);
}

.ie6 .two .rollover_txt, .ie7 .two .rollover_txt, .ie8 .two .rollover_txt{display:none;}

/* case studies */
#case_studies h2{margin-bottom:0;}
#case_studies ul{margin:0;}
#case_studies li{float:left; list-style:none; margin-top:30px; text-indent:0; width:300px;}
#case_studies li img{border:4px solid #e9e9e9; margin:0;}
#case_studies li h3, #case_studies li p{margin:10px 25px;}
#case_studies li h3{margin-top:20px; margin-bottom:5px;}

#case_studies a.all{margin:0 25px;}
/*h3{font-style:italic; font-size:1em;}*/
/*a{font-style:italic;}*/

/* thinking */
.thinking_col{float:left; min-width:260px; width:48%;}

#client_description p, #project_description p, #thinking p{font-size:1em; font-style:normal; line-height:1.3em; margin:0px 12% 20px 25px;}
#client_description p:nth-child(2) {font-size:1.5em; font-style:italic; line-height:1.3em; margin:10px 12% 10px 25px;}
#client_description h3 {font-size:1em; margin-left:25px; text-transform:uppercase;}
#client_description ul {margin-left:3.8em; list-style-type:circle; margin-bottom:1em;}
h4.process {padding:1em 0 1em 25px;font-weight:normal;}
#thinking p{margin-right:5%;}
/*#thinking p.first {font-size:1.3em;}*/
/*#thinking p.first:first-letter { font-size: 2.6em; letter-spacing: -0.1em; line-height: .8em; vertical-align:baseline; }*/
#thinking ul {margin-left:15px}
#thinking ul li {font-size:1em; font-style:italic; list-style:none; line-height:1.5em;}
/*#thinking p:first-line { line-height: 1em; }*/

#thinking #thinking_container ul {margin-left:35px}

#thinking_nav {margin-bottom:2em; clear:both;}
#thinking_nav a, a#careers, .floating_nav a {border-bottom:1px dashed #ccc; color:#72B5CC; /*color:#444;*/ text-decoration:none; font-style:italic; margin:0 8px; padding:2px 0px 1px;
  -webkit-transition: background-color 0.3s ease-out;  
     -moz-transition: background-color 0.3s ease-out;  
      -ms-transition: background-color 0.3s ease-out;  
       -o-transition: background-color 0.3s ease-out;  
          transition: background-color 0.3s ease-out;

}
.floating_nav a:hover{text-shadow:none; border-bottom:1px solid #72B5CC;}
.floating_nav a.active{background-color:#72B5CC; color:#fff; border-bottom:none; margin:0; padding:2px 8px;
  -webkit-border-radius: 2px; 
     -moz-border-radius: 2px; 
          border-radius: 2px; 
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}

/* blog posts */
#blog h6.right{float:right; font-style:italic; margin-top:1.6em; margin-right:1.4em; margin-bottom:0; font-size:.9em; font-weight:normal; }
#blog h6.right a {text-decoration:none;}


ul#blog_posts {margin-left:0;}
#blog_posts li{
  background:#fff;
  float:left;
  list-style:none;
  margin:0;
  margin-right:14px;
  position:relative;
  width:286px;
  height:450px;
  display: block;
  margin-bottom: 14px;
}
#blog_posts .post_details{
  position:relative;
  margin:2em;
  height:125px;
}

#blog_posts h5, #blog_posts h4{font-weight:normal; font-size: 16px; line-height: 115%;}
#blog_posts h5{font-family:Georgia; padding-top:5px; color: #666;}
#blog_posts h4{color: #72B5CC;
font-family: 'FunctionProMedium','Futura','Lucida Sans',Trebuchet,sans-serif;
font-weight: normal;
letter-spacing: 1px;}

#blog_posts .read_more{
  border-top: 1px solid #DDDDDD;
  bottom: 0;
  display: block;
  float: none;
  font-family: Georgia;
  font-style: italic;
  left: 0;
  padding-top: 5px;
  position: absolute;
  text-decoration: none;
  text-transform: lowercase;
  width: 100%;
}
#blog_posts .read_more:hover{
	text-decoration:underline;
}

/* people */
/*#people{position:relative; margin:auto;}*/
#people ul {list-style-type: square;margin-bottom: 2em; margin-left:0; margin-right:2em;}
.employee {display:inline; float:left; height:120px;margin: 2px; position: relative; width: 120px;}
.employee .info {background: none repeat scroll 0 0 #333333; color: #FFFFFF; display:none; font-size: 1em; position: absolute; top: 120px; z-index:1000; width:160px; left:-30px; text-align:left; 
  opacity:0; padding:0.8em;
  -webkit-transition:all .1s ease-out; -moz-transition:all .1s ease-out; -o-transition:all .1s ease-out; transition:all .1s ease-out;}
.employee .info h5, .employee .info h6 {color: #ffffff; 
  font-size:1em; font-style:normal; font-family: 'FunctionProMedium', 'Futura', 'Lucida Sans', Trebuchet, sans-serif; font-weight:normal;}
.employee .info h5, .employee .info h6{text-transform:uppercase;}
.employee .info h6{color:#ddd;}
#people .employee .info p{color:#fff; font-family:Georgia, Times, 'Times New Roman', serif; font-size:0.96em; font-style:italic; margin:0.5em 0; margin-bottom:0; }

.employee.zoomed .info{display:block; opacity:1; top: 150px;
  -webkit-transition:opacity .1s ease-out; -moz-transition:opacity .1s ease-out; -o-transition:opacity .1s ease-out; transition:opacity .1s ease-out;}

.employee .headshot {background-color: #FFFFFF;display: block;height: 120px;overflow: hidden;width: 120px; z-index:1;}
.employee .headshot img{height:120px; width:120px; position:absolute;
  -webkit-transition:all .1s ease-out; -moz-transition:all .1s ease-out; -o-transition:all .1s ease-out; transition:all .1s ease-out;}
.employee.zoomed .headshot img{height:180px; width:180px; z-index:100; opacity:1 !important; top:-30px; left:-30px;}


/* projects */
#experience .lists{margin:0; padding:0 10px 0 25px;}
#experience .lists_column{float:left; min-width:230px; width:50%;}
#experience ul{float:left; margin:1em 0 0 0; width:49%; min-width:210px;}
#experience li{color:#8a8a8a; line-height:1.5em; list-style:none; font-style:italic;}
#experience li h3{margin-bottom:0.2em;}
#experience li a{color:#8a8a8a; text-decoration:underline;}
#experience li a:hover{color:#9a9a9a;}

#experience h2{margin-bottom:5em;}

#client_description{border:none;}
.client_name{font-style:normal;}

.project{background:#fff; float:none; width:auto; padding:30px; position:relative;}
.project h4{font-size:1em; font-weight:normal; padding-bottom:3em;}
.project a.all{float:right; font-style:italic;}
#client_images{padding:0; background:white; border:none; border-bottom:1px solid #ccc; margin-right:10px;}
.full_img{width:100%; max-width:1200px; margin-bottom:10px;}

.floating_nav{background:#EEF7FB; position:fixed; padding:10px 15px; }

/* contact */

#contact{padding-bottom:30px; padding-right:10px;}

#map_holder{position:relative;}
#map_address{padding:0 25px; margin-bottom:35px;}
#map_address h3{font-family:Georgia, Times, 'Times New Roman', serif; font-weight:bold; font-style:italic;}
#map_address h4{font-size:1em; font-weight:normal;}
#map_canvas{background:#72B5CC; overflow-x: hidden; overflow-y: hidden;}

/* video lightbox*/
/*72B5CC*/
.video_link{font-style:italic; margin-left:15px;}
.video_link a{text-decoration:none;}
.video_link a:hover{text-decoration:underline;}
#video_lightbox{background:transparent; display:none; position:fixed; text-align:center; top:0; left:0; width:100%; height:100%; z-index:10000;}
#video_slider{display:none; height:0; position:relative; overflow:hidden; text-align:center;}
#video_lightbox .coverup{background:transparent url('../images/bg_lightbox.png') repeat; position:absolute; top:0; left:0; width:100%; height:100%;}
#video_slider .coverup{display:none;}
#video_lightbox #vimeo_holder{background:black; border:12px solid white; margin:0 auto; position:relative; top:20%;}
#video_slider #vimeo_holder{background:black; border:12px solid white; margin:0 auto; position:relative; height:360px; width:640px;}
#video_lightbox .close_btn{background:transparent url('../images/closebox.png') no-repeat 50% 50%; cursor:pointer; height:30px; width:30px; position:absolute; top:-20px; right:-20px; z-index:10000;}
#video_slider .close_btn{background:transparent url('../images/closebox.png') no-repeat 50% 50%; cursor:pointer; height:30px; width:30px; position:absolute; top:-20px; right:-20px; z-index:10000;}

#piggyback_box{border-top:4px solid #E9E9E9; padding:10px; position:absolute; bottom:0; left:0; width:220px;}
/*#piggyback_box{border-top:4px solid #acacac; background:#ddd; padding:10px; position:absolute; bottom:0; left:0; width:220px;}*/

/*@media all and (orientation:portrait) { 
  
}
@media all and (orientation:landscape) { 
  
}*/

#optimism_bug, #branch, #bird, #word{background-repeat:no-repeat; cursor:pointer; position:fixed; top:280px; width:170px; height:180px; z-index:10001;}
#branch{background-image:url('../images/branch.png');}
#bird{background-image:url('../images/bird_off.png');z-index:100000;}
/*#bird:hover{background-image:url('../images/bird_on.png');}*/

#bird_hover{background:transparent url('../images/bird_on.png') no-repeat; position:absolute; top:0; left:0; width:100%; height:100%; 
  opacity: 0; -moz-opacity: 0; filter:alpha(opacity=0);
  -webkit-transition: opacity .4s linear;  
  -moz-transition: opacity .4s linear;  
  -o-transition: opacity .4s linear;  
  -ms-transition: opacity .4s linear;  
  transition: opacity .4s linear;
}
#bird:hover #bird_hover{opacity: 1; -moz-opacity: 1; filter:alpha(opacity=1);}
/*#word{background-image:url('../images/optimism.png');}*/


.vimeo_embed, .flash_embed{width:915px; display:block; height:540px; margin:2em auto;}

/*@media screen and (max-device-width: 670px) {
.vimeo_embed, .flash_embed{width:915px; height:540px;}
}*/

/*@media screen and (max-device-width: 320px) {*/

/*}*/

@media all and (max-width:870px) {
  #container{width:620px;}
  #header{position:relative; width:100%; padding:0 0 10px 0; min-height:0;}
  #nav{text-align:center; line-height:2.4em;}
  #nav a{display:inline; float:none; text-align:center;}
  #nav .nav_divider{display:inline !important; font-size:1.4em; letter-spacing:-2px; padding:0 6px; vertical-align: 1px;}
  #nav #nav_follow{display:inline;}
  #bottom_nav{padding:0; position: relative; text-align: center; width: 620px; line-height: 0; margin-bottom:1em;}
  #social_links{
    /*width:130px; margin: 10px auto;*/
    width: 130px;
    margin: -7px 0 -7px 10px;
    display: inline-block;
  }
  .section{margin-left:15px; width:600px;}
  .section:first-child{border-top:none;}
  #toth_logo{margin:20px auto;}
  #project_list{padding-top:15px;}
  #footer{margin:0;}
  #map_canvas{min-height:320px;}
  #map_address{position:static; width:240px;}
  #project_login{display:none;}
  #optimism_bug{display:none;}
  #blog_posts{padding-left:0;}
  #blog_posts li{margin:0 7px;}
  #nav .medium_nav_divider{display:none !important;}
  #nav .small_nav{display:inline;}
  #nav a.selected {background-color:transparent;}
}

@media all and (max-width:632px) {
  #container{width: 320px; min-width:320px;}
  #header{position:relative; width:100%; padding:0 0 10px 0; min-height:0;}
/*  #nav .nav_divider{display:inline !important; font-size:1.4em; letter-spacing:-2px; padding:0 6px; vertical-align: 1px;}*/
  #nav .medium_nav_divider{display:inline !important;}
  #nav .small_nav_divider{display:none !important;}
  #nav #nav_follow{display:inline;}
  #bottom_nav{padding: 0px 18px 0px 28px; position: relative; text-align: center; width: 280px; line-height: 0;}
  #social_links{display:block; width:130px; margin: 10px auto;}
/*  #social_links{display:none;}*/
  .section{margin-left:15px; width:300px;}
  .section:first-child{border-top:none;}
  .random_block{width:290px;}
  #footer{margin:0;}
  #map_canvas{min-height:320px;}
  #map_address{position:static; width:240px;}
  #project_login{display:none;}
  .floating_nav{display:none !important;} /* Hides the filter nav, which doesn't work on iphones anyway*/
  #experience h2{margin-bottom:30px;}
}

/* to show that you are logged in !!!*/
.admin_box{background-color:#EEF7FB; font-size:10px; margin:10px; padding:6px 10px; position:fixed; top:0; right:0; z-index:10000;
  -moz-box-shadow:rgba(114, 181, 204, 0.6) 0px 3px 5px -2px; -webkitbox-shadow:rgba(114, 181, 204, 0.6) 0px 3px 5px -2px; -o-box-shadow:rgba(114, 181, 204, 0.6) 0px 3px 5px -2px; -ms-box-shadow:rgba(114, 181, 204, 0.6) 0px 3px 5px -2px; box-shadow:rgba(114, 181, 204, 0.6) 0px 3px 5px -2px;}

@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  /*a:after { content: " (" attr(href) ")"; }
  a[href^="/"]:after {
  content: " (http://www.toth.com" attr(href) ") ";
   } */
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }  
  tr, p, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 1; widows: 1; }
  h2, h3{ page-break-after: avoid; }
  
  #header {position:relative;}
  #project_list {margin-top:20px;}
  .project img {display: none;}
  .project img:first-of-type {display: block;}
  .project iframe, #header #nav, #header #bottom_nav, .floating_nav {display: none;}

  .img_rollover {background-image: none; opacity: 1 !important; display: block;}
  #toth_logo {background: none;text-decoration: none;}
  #toth_logo img{ display: block; margin-bottom: 0px;}
  .section, #footer {margin: auto;}
  .img_rollover .rollover_txt div{text-indent: 0;}

}

