@darkerBlue: #72B5CC;
@darkBlue: #529BB4;
@lightBlue: #DCEDF3;
@lighterBlue: #EEF7FB;
@grey: #8A8A8A;

@PrimeColor: @lighterBlue;
@SecColor: @darkerBlue;
@lightHLcolor: @lightBlue;
@darkHLcolor: @darkBlue;
@bodyColor: @grey;

@PrimeFont: Georgia, Times, 'Times New Roman', serif;
@SecFont: 'Futura', 'Lucida Sans', Trebuchet, sans-serif;

.transall() {
	-webkit-transition: all .5s ease;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: @PrimeFont;
	font-size: 13px;
	background: @PrimeColor;
	color: @bodyColor
}

// CONSTANTS

header, section, footer {
	float: left;
}
blockquote, p, span {
	clear: both;
}
h2,h3,h4,h5 {
	text-transform: uppercase;
	font-size: 1.2em;
	letter-spacing: 2px;
	font-weight: normal;
}
h5 {
	letter-spacing: normal;
}
h2,h3,h4,a:visited, a {
	font-family: @SecFont;
	color: @SecColor;
	text-decoration: none;
}

.ir {
	border: 0;
	font: 0/0 a;
	text-shadow: none;
	color: transparent; 
}
ul {list-style-type: none;}


// HEADER 

header {
	height: 100vh;
	width: 240px;
	position: fixed;
	h1 {
		background: url('../assets/logotype.png');
		height: 34px;
		width: 207px;
		margin: 30px 14px;
	}
	nav {
		padding: 0 18px 10px;
		text-transform: uppercase;
		font-size: .9em;
		letter-spacing: 2px;
		color: #72B5CC;

		li {
			line-height: 24px;
			.transall();
		}
		.highlight {
			background: @lightHLcolor; 
		}
		a {
			margin-left: 10px;
		}
		a:hover {
			color: @darkHLcolor;
		}
		
	}
}

// MAIN

main {
	width: calc(~"100% - 240px");
	float: right;
	padding: 0 10px;
	section {
		width: 100%;
		border-top: 1px solid #eee;
		border-bottom: 1px solid #ccc;
		padding: 45px 0 70px;
		margin-bottom: 1px;
	}
	h2 {
		margin-left: 25px;
		margin-bottom: 30px;
	}
	.gapped {
		-webkit-column-count: 2;
		-webkit-column-gap: 65px;
		margin: 0 35px;
	}
}

#work {
	padding: 2px 8px 70px;
	div {
		width: 285px;
		height: 178px;
		float: left;
		margin: 8px;
		border: 12px solid white;
		img {
			width: 100%;
			opacity: 0;
			background-size: 100%;
			-webkit-transition: all .5s ease;
		}
		.active {
			opacity: 1;
		}
	}

}
#thinking {

	blockquote {
		font-size: 2em;
		margin-bottom: 65px;
		p {
			margin: 0;
			position: relative;
		}
		footer {
			text-align: right;
			display: block;
			width: 100%;
			margin: 10px 0;
			padding-right: 25px;
			font-style: italic;
		}
	}
	blockquote::before {
		content: '\201C';
		position: absolute;
		margin-left: -12px;
	}
	blockquote p::after{
		content: '\201D';
	}
	p {
		margin: 20px 0;
	}
}

#blog {
	
	li {
		width: 286px;
		height: 450px;
		float: left;
		margin-right: 15px;
		background: white;
		position: relative;
		.post {
			padding: 25px 25px 0;
		}
		.post a:last-child {
			position: absolute;
			bottom: 0;
			height: 35px;
			padding-top: 5px;
			border-top: 1px solid #E4E4E4;
			font-family: @PrimeFont;
			font-style: italic;
			width: calc(~"100% - 50px")
		}
		h4 {
			text-transform: uppercase;
			font-size: 1.1em;
			margin-bottom: 4px;
		}
		h5 {
			font-family: @PrimeFont;
			color: @bodyColor;
			font-size: 1.2em;
			text-transform: none;
		}
		
	}
}





